In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, Binarizer

# WHAS

In [41]:
dataset = pd.read_csv('data/whas/whas.csv')

In [42]:
binary = ['sex', 'sho', 'chf', 'miord']
categorical = ['mitype', 'yrgrp']
continuous = ['age', 'cpk']

In [43]:
enc = OneHotEncoder(handle_unknown='ignore')
X_categorical = X[categorical]
enc.fit(X_categorical)
X_categorical_t = enc.transform(X_categorical)

In [44]:
dataset_cat = pd.DataFrame(X_categorical_t.toarray(), columns=enc.get_feature_names_out(categorical))

In [45]:
dataset = pd.concat([dataset.reset_index(drop=True), dataset_cat], axis=1)
dataset.columns

Index(['id', 'age', 'sex', 'cpk', 'sho', 'chf', 'miord', 'mitype', 'year',
       'yrgrp', 'lenstay', 'dstat', 'lenfol', 'fstat', 'mitype_1', 'mitype_2',
       'mitype_3', 'yrgrp_1975 & 1978', 'yrgrp_1981 & 1984',
       'yrgrp_1986 & 1988'],
      dtype='object')

In [47]:
cols_include = ['age', 'sex', 'cpk', 'sho', 'chf', 'miord', 
                'mitype_1', 'mitype_2', 'mitype_3', 
                'yrgrp_1975 & 1978', 'yrgrp_1981 & 1984', 'yrgrp_1986 & 1988',
               'lenstay', 'dstat', 'lenfol', 'fstat']

In [48]:
dataset_prepped = dataset[cols_include]

In [50]:
dataset_prepped.to_csv('data/whas/whas_prepped.csv', index=False)

# AIDS

In [46]:
dataset = pd.read_csv('data/aids/actg320.csv')

In [53]:
binary = ['tx', 'sex', 'hemophil']
categorical = ['sex', 'hemophil', 'strat2', 'txgrp', 'ivdrug', 'karnof', 'raceth']
continuous = ['cd4', 'priorzdv', 'age']

In [54]:
enc = OneHotEncoder(handle_unknown='ignore')
X_categorical = dataset[categorical]
enc.fit(X_categorical)
X_categorical_t = enc.transform(X_categorical)

In [55]:
X_binary = dataset[binary]
binarizer = Binarizer().fit(X_binary)
X_binary_t = binarizer.transform(X_binary)

In [56]:
dataset_cat = pd.DataFrame(X_categorical_t.toarray(), columns=enc.get_feature_names_out(categorical))
dataset_bin =  pd.DataFrame(X_binary_t, columns=binarizer.get_feature_names_out(binary))

In [57]:
dataset = pd.concat([dataset.reset_index(drop=True), dataset_cat], axis=1)
dataset.columns

Index(['id', 'time', 'censor', 'time_d', 'censor_d', 'tx', 'txgrp', 'strat2',
       'sex', 'raceth', 'ivdrug', 'hemophil', 'karnof', 'cd4', 'priorzdv',
       'age', 'sex_1', 'sex_2', 'hemophil_0', 'hemophil_1', 'strat2_0',
       'strat2_1', 'txgrp_1', 'txgrp_2', 'txgrp_3', 'txgrp_4', 'ivdrug_1',
       'ivdrug_2', 'ivdrug_3', 'karnof_70', 'karnof_80', 'karnof_90',
       'karnof_100', 'raceth_1', 'raceth_2', 'raceth_3', 'raceth_4',
       'raceth_5', 'sex_1', 'sex_2', 'hemophil_0', 'hemophil_1', 'strat2_0',
       'strat2_1', 'txgrp_1', 'txgrp_2', 'txgrp_3', 'txgrp_4', 'ivdrug_1',
       'ivdrug_2', 'ivdrug_3', 'karnof_70', 'karnof_80', 'karnof_90',
       'karnof_100', 'raceth_1', 'raceth_2', 'raceth_3', 'raceth_4',
       'raceth_5'],
      dtype='object')

In [58]:
cols_include = ['age', 'sex_2', 'cd4', 'priorzdv', 'hemophil_1',
                'strat2_0', 'strat2_1', 
                'txgrp_1', 'txgrp_2', 'txgrp_3', 'txgrp_4', 
                'ivdrug_1', 'ivdrug_2', 'ivdrug_3',
                'karnof_70', 'karnof_80', 'karnof_90', 'karnof_100',
                'raceth_1', 'raceth_2', 'raceth_3', 'raceth_4', 'raceth_5',
                'time', 'censor', 'time_d', 'censor_d']

In [59]:
dataset_prepped = dataset[cols_include]
dataset_prepped.to_csv('data/aids/data.csv', index=False)

# Veteran

In [23]:
dataset = pd.read_csv('data/veteran/veteran.csv')

In [24]:
binary = ['trt', 'prior']
categorical = ['celltype', 'trt', 'prior']
continuous = ['age', 'karno', 'diagtime']

In [25]:
enc = OneHotEncoder(handle_unknown='ignore')
X_categorical = dataset[categorical]
enc.fit(X_categorical)
X_categorical_t = enc.transform(X_categorical)

In [26]:
X_binary = dataset[binary]
binarizer = Binarizer().fit(X_binary)
X_binary_t = binarizer.transform(X_binary)

In [27]:
dataset_cat = pd.DataFrame(X_categorical_t.toarray(), columns=enc.get_feature_names_out(categorical))
dataset_bin =  pd.DataFrame(X_binary_t, columns=binarizer.get_feature_names_out(binary))

In [28]:
dataset = pd.concat([dataset.reset_index(drop=True), dataset_cat], axis=1)
dataset.columns

Index(['time', 'status', 'karno', 'diagtime', 'age', 'prior', 'trt',
       'celltype', 'celltype_1', 'celltype_2', 'celltype_3', 'celltype_4',
       'trt_1', 'trt_2', 'prior_0', 'prior_10'],
      dtype='object')

In [29]:
cols_include = ['age', 'karno', 'diagtime', 'prior_10', 'trt_2',
                'celltype_1', 'celltype_2', 'celltype_3', 'celltype_4', 
                'time', 'status']

In [30]:
dataset_prepped = dataset[cols_include]
dataset_prepped.to_csv('data/veteran/data.csv', index=False)

# GBCS

In [60]:
dataset = pd.read_csv('data/gbcs/gbcs.csv')

In [62]:
dataset

,id,diagdateb,recdate,deathdate,age,menopause,hormone,size,grade,nodes,prog_recp,estrg_recp,rectime,censrec,survtime,censdead
0,1,8/17/1984,4/15/1988,11/16/1990,38,1,1,18,3,5,141,105,1337,1,2282,0
1,2,4/25/1985,3/15/1989,10/22/1990,52,1,1,20,1,1,78,14,1420,1,2006,0
2,3,10/11/1984,4/12/1988,10/6/1988,47,1,1,30,2,1,422,89,1279,1,1456,1
3,4,6/29/1984,11/24/1984,11/24/1984,40,1,1,24,1,3,25,11,148,0,148,0
4,5,7/3/1984,8/9/1989,8/9/1989,64,2,2,19,2,1,19,9,1863,0,1863,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,682,7/7/1989,7/24/1989,7/24/1989,51,1,1,50,2,5,360,57,17,0,17,0
682,683,4/17/1989,8/22/1991,8/22/1991,63,2,2,22,2,9,64,19,857,0,857,0
683,684,6/29/1989,8/6/1991,8/6/1991,61,2,1,60,2,51,45,38,768,0,768,0
684,685,4/21/1989,8/27/1991,8/27/1991,46,1,1,26,1,3,33,68,858,0,858,0
685,686,7/13/1989,8/22/1991,8/22/1991,63,2,2,23,2,3,3,2,770,0,770,0

In [63]:
binary = ['menopause', 'hormone']
categorical = ['menopause', 'hormone', 'grade']
continuous = ['age', 'size', 'diagtime', 'nodes', 'prog_recp', 'estrg_recp']

In [64]:
enc = OneHotEncoder(handle_unknown='ignore')
X_categorical = dataset[categorical]
enc.fit(X_categorical)
X_categorical_t = enc.transform(X_categorical)

In [65]:
X_binary = dataset[binary]
binarizer = Binarizer().fit(X_binary)
X_binary_t = binarizer.transform(X_binary)

In [66]:
dataset_cat = pd.DataFrame(X_categorical_t.toarray(), columns=enc.get_feature_names_out(categorical))
dataset_bin =  pd.DataFrame(X_binary_t, columns=binarizer.get_feature_names_out(binary))

In [67]:
dataset = pd.concat([dataset.reset_index(drop=True), dataset_cat], axis=1)
dataset.columns

Index(['id', 'diagdateb', 'recdate', 'deathdate', 'age', 'menopause',
       'hormone', 'size', 'grade', 'nodes', 'prog_recp', 'estrg_recp',
       'rectime', 'censrec', 'survtime', 'censdead', 'menopause_1',
       'menopause_2', 'hormone_1', 'hormone_2', 'grade_1', 'grade_2',
       'grade_3'],
      dtype='object')

In [68]:
cols_include = ['age', 'menopause_2', 'hormone_2', 'size', 'nodes', 'prog_recp', 'estrg_recp',
                'grade_1', 'grade_2', 'grade_3', 
                'survtime', 'censdead', 'rectime', 'censrec']

In [69]:
dataset_prepped = dataset[cols_include]
dataset_prepped.to_csv('data/gbcs/data.csv', index=False)

In [70]:
dataset_prepped

,age,menopause_2,hormone_2,size,nodes,prog_recp,estrg_recp,grade_1,grade_2,grade_3,survtime,censdead,rectime,censrec
0,38,0.0,0.0,18,5,141,105,0.0,0.0,1.0,2282,0,1337,1
1,52,0.0,0.0,20,1,78,14,1.0,0.0,0.0,2006,0,1420,1
2,47,0.0,0.0,30,1,422,89,0.0,1.0,0.0,1456,1,1279,1
3,40,0.0,0.0,24,3,25,11,1.0,0.0,0.0,148,0,148,0
4,64,1.0,1.0,19,1,19,9,0.0,1.0,0.0,1863,0,1863,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,51,0.0,0.0,50,5,360,57,0.0,1.0,0.0,17,0,17,0
682,63,1.0,1.0,22,9,64,19,0.0,1.0,0.0,857,0,857,0
683,61,1.0,0.0,60,51,45,38,0.0,1.0,0.0,768,0,768,0
684,46,0.0,0.0,26,3,33,68,1.0,0.0,0.0,858,0,858,0
685,63,1.0,1.0,23,3,3,2,0.0,1.0,0.0,770,0,770,0

# PBC

In [14]:
dataset = pd.read_csv('data/pbc/pbc.csv')

In [15]:
dataset

,N,time,event,trt,age,sex,ascites,hepatomegaly,spiders,edema,bilirubin,cholesterol,albumin,copper,alkphosphotase,sgot,triglycerides,platelet,prothrombin,histologic
0,1,400,1,1.0,58.7652,1.0,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,0,1.0,56.4463,1.0,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,1,1.0,70.0726,0.0,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,1,1.0,54.7406,1.0,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,0,2.0,38.1054,1.0,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,681,1,NaN,67.0000,NaN,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,NaN
414,415,1103,0,NaN,39.0000,NaN,NaN,NaN,NaN,0.0,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,NaN
415,416,1055,0,NaN,57.0000,NaN,NaN,NaN,NaN,0.0,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,NaN
416,417,691,0,NaN,58.0000,NaN,NaN,NaN,NaN,0.0,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,NaN
417,418,976,0,NaN,53.0000,NaN,NaN,NaN,NaN,0.0,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,NaN

In [16]:
binary = ['trt', 'sex', 'ascites', 'hepatomegaly', 'spiders']
categorical = ['edema', 'histologic', 'trt', 'sex', 'ascites', 'hepatomegaly', 'spiders']
continuous = ['age', 'bilirubin', 'cholesterol', 'albumin', 'copper', 'alkphosphotase', 'sgot', 'triglycerides', 'platelet', 'prothrombin']

In [17]:
enc = OneHotEncoder(handle_unknown='ignore')
X_categorical = dataset[categorical]
enc.fit(X_categorical)
X_categorical_t = enc.transform(X_categorical)

X_binary = dataset[binary]
binarizer = Binarizer().fit(X_binary)
X_binary_t = binarizer.transform(X_binary)

In [20]:
dataset_cat = pd.DataFrame(X_categorical_t.toarray(), columns=enc.get_feature_names_out(categorical))
# dataset_bin =  pd.DataFrame(X_binary_t, columns=binarizer.get_feature_names_out(binary))

In [21]:
dataset = pd.concat([dataset.reset_index(drop=True), dataset_cat], axis=1)
dataset.columns

Index(['N', 'time', 'event', 'trt', 'age', 'sex', 'ascites', 'hepatomegaly',
       'spiders', 'edema', 'bilirubin', 'cholesterol', 'albumin', 'copper',
       'alkphosphotase', 'sgot', 'triglycerides', 'platelet', 'prothrombin',
       'histologic', 'edema_0.0', 'edema_0.5', 'edema_1.0', 'histologic_1.0',
       'histologic_2.0', 'histologic_3.0', 'histologic_4.0', 'histologic_nan',
       'trt_1.0', 'trt_2.0', 'trt_nan', 'sex_0.0', 'sex_1.0', 'sex_nan',
       'ascites_0.0', 'ascites_1.0', 'ascites_nan', 'hepatomegaly_0.0',
       'hepatomegaly_1.0', 'hepatomegaly_nan', 'spiders_0.0', 'spiders_1.0',
       'spiders_nan'],
      dtype='object')

In [22]:
cols_include = ['age', 'bilirubin', 'cholesterol', 'albumin', 'copper', 'alkphosphotase', 'sgot', 'triglycerides', 'platelet', 'prothrombin',
                'edema_0.0', 'edema_0.5', 'edema_1.0', 'histologic_1.0', 'histologic_2.0', 'histologic_3.0', 'histologic_4.0', 
                'trt_1.0', 'trt_2.0', 'sex_0.0', 'sex_1.0', 'ascites_0.0', 'ascites_1.0', 'hepatomegaly_0.0',
                'hepatomegaly_1.0', 'spiders_0.0', 'spiders_1.0', 
                'time', 'event']

In [23]:
dataset_prepped = dataset[cols_include]
dataset_prepped.to_csv('data/pbc/pbc.csv', index=False)

In [24]:
dataset_prepped

,age,bilirubin,cholesterol,albumin,copper,alkphosphotase,sgot,triglycerides,platelet,prothrombin,...,sex_0.0,sex_1.0,ascites_0.0,ascites_1.0,hepatomegaly_0.0,hepatomegaly_1.0,spiders_0.0,spiders_1.0,time,event
0,58.7652,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,400,1
1,56.4463,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,4500,0
2,70.0726,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1012,1
3,54.7406,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1925,1
4,38.1054,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1504,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,67.0000,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,681,1
414,39.0000,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1103,0
415,57.0000,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1055,0
416,58.0000,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,691,0
417,53.0000,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,976,0